<html> 
	<body> 
		<div class="erros">
			<%if(errosValidacao){%>
			<ul>
                <%for(var i=0;i<errosValidacao.length;i++){%>
                <li><%=errosValidacao[i].param%> - <%=errosValidacao[i].msg%></li>
                <%}%>
            </ul>
            <%}%>
		</div>
		<form action="/produtos" method="post">
			<div>
				<label for="titulo">Titulo</label>
				<input type="text" id="titulo" name="titulo" value="<%=produto.titulo%>" placeholder="coloque o titulo do livro"/>
			</div>	
			<div>
				<label for="preço">Titulo</label>
				<input type="text" id="preço" name="preço" value="<%=produto.preco%>" placeholder="150.22"/>
			</div>	
			<div>
				<label for="descricao">Titulo</label>
				<textarea id="descricao" cols="10" rows="10" name="descricao" placeholder="coloque o descricao do livro"><%=produto.descricao%></textarea>
			</div>	
			<input type="submit" value="gravar"/>
		</form>
	</body>
</html>